.home {
  background-color: aquamarine;
}

.image-container2 {
  align-self: center;
  margin: 15px;
}

.image-container2 img {
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #cdcbcb;
}
